<table>
  <tr>
    <th>Phrase</th>
    <th>Translation</th>
    <th colspan="3">Actions</th>
  </tr>

<% for translation in @translations %>
  <tr>
    <td><%= link_to translation.phrase, phrase_path(translation)  %></td>
    <td><%= link_to translation, translation %></td>
    <td><%= link_to 'Destroy', translation, :confirm => 'Are you sure? Don\'t destroy for pleasure.', :method => :delete %></td>
  </tr>
<% end %>

</table>
