<h1>Listing translations</h1>

<%= collection_select("language", "language_id" , Language.find(:all), "id", "description", {}, :onchange => remote_function(:update => "translation_list_container", :url => { :action => "get_language_translations" }, :with => "'language_id=' + escape(this.value)"))%>


<div id="translation_list_container">
  <%= render :partial => 'list', :translations  => 'translations' %>
</div>


<br />

<%= link_to 'New translation', new_translation_path %>
