<h1>Listing phrases (<span id="phrase_count"><%= @phrases.size %></span>)</h1>
Add a new phrase
<%= render :partial => 'edit_form' %>
<hr />
<div id="phrase_listing">
  <%= render :partial => 'phrases_list', :phrases => @phrases %>  
</div>
